<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufg.inf.instaladoreduroam"
    android:installLocation="auto">
    <uses-feature android:name="android.hardware.wifi" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialAppTheme" >
        <activity
            android:noHistory="true"
            android:name=".app.InicialActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.PreferenciasActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AdicionarRedeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".app.SobreActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".app.RedeWifiActivity"
            android:label="@string/title_activity_adicionar_eduroam" >
        </activity>
        <activity
            android:name=".app.ContasActivity"
            android:label="@string/app_name" >
        </activity>
        <provider
            android:authorities="br.ufg.inf.instaladoreduroam.app"
            android:name=".data.EduroamProvider" />
    </application>

</manifest>
